/*==========GENERAL SETUP==========*/

body {
    background-color: white;
    border-radius: 1%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 4px 40px rgba(0, 0, 0, .2);
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    padding: 1em 1em 2em 1em;
}


/* MEDIAQUERYS */

@media screen and (min-width: 627px) and (orientation: landscape) {
    #modtager {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        margin: 10px;
    }
}


/*==========GENERAL SETUP==========*/


/*==========TYPOGRAFI START==========*/

a {
    text-decoration: none;
}

h2 {
    font-family: Montserrat;
    color: #3d3d3d;
}

h1 {
    font-family: Montserrat;
    color: #3d3d3d;
    text-align: center;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}


/*==========TYPOGRAFI SLUT==========*/


/*==========TOP MENU START==========*/

#logo {
    margin-right: auto;
    width: 80%;
    height: auto;
}

#search img {
    position: absolute;
    height: auto;
    width: 30%;
    margin-left: -8px;
    margin-top: -20px;
}

#menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 10px;
    background-color: white;
    padding: 8px;
    margin-left: 20px;
}

.tilmeld {
    background-color: #9bd5c4;
    border: none;
    cursor: pointer;
    color: white;
    padding: 3px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: Montserrat;
    font-size: 14px;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 4px 40px rgba(0, 0, 0, .2);
    height: 36px;
}

#omNyhedsbrev {
    vertical-align: middle;
    align-items: flex-end;
    display: block;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    background-color: #e3f1f4;
}

#omNyhedsbrev button {
    background-color: #9bd5c4;
    border: none;
    color: white;
    padding: 10px 10px;
    margin-left: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 1%;
    cursor: pointer;
    position: absolute;
    bottom: 210px;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 4px 40px rgba(0, 0, 0, .2);
}

.tilmeldom {
    background-color: #9bd5c4;
    border: none;
    color: white;
    padding: 10px 10px;
    padding: 10px 10px;
    margin-left: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 1%;
    cursor: pointer;
    position: absolute;
    bottom: -234px;
    left: 30%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 4px 40px rgba(0, 0, 0, .2);
}

.blivfood8 {
    background-color: #9bd5c4;
    border: none;
    color: white;
    padding: 10px 10px;
    margin-left: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 1%;
    cursor: pointer;
    position: absolute;
    bottom: -205px;
    left: 34%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 4px 40px rgba(0, 0, 0, .2);
}

#omNyhedsbrev p {
    margin: 5px;
    padding: 20px;
    color: #3d3d3d;
    text-align: left;
    vertical-align: middle;
    font-size: 19px;
}

#so_metop img {
    height: auto;
    width: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 10px;
    border-radius: 1%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 4px 40px rgba(0, 0, 0, .2);
}

#so_metop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/*==========TOP MENU SLUT==========*/


/*==========BURGER MENU START==========*/

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #5c6671;
    margin: 6px 0;
    transition: 0.5s;
}

.change .bar1 {
    transform: rotate(-45deg)translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg)translate(-8px, -8px);
}

.dropbtn {
    background-color: white;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #f4efe3;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px #3d3d3d;
    right: 0;
    z-index: 300;
}

.dropdown-content a {
    background-color: white;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    font-family: Montserrat;
    font-size: 14px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 2);
}

.dropdown a:hover {
    /*    background-color: rgba(255, 255, 255, 0.50);*/
    background-color: #f4efe3;
}

.show {
    display: block;
}


/*==========BURGER MENU SLUT==========*/


/*==========FORSIDE CONTENT START==========*/

#nyhedsbrev {
    vertical-align: middle;
    align-items: flex-end;
    display: block;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    background-color: white;
    text-align: center;
}


/* OM FOOD 8 */

#omfood8 {
    vertical-align: middle;
    align-items: flex-end;
    display: block;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    background-color: seashell;
}

#omfood8 p {
    margin: 5px;
    padding: 20px;
    color: #3d3d3d;
    text-align: center;
    vertical-align: middle;
    font-size: 19px;
}

#omfood8 h1 {
    color: #3d3d3d;
    text-align: center;
    vertical-align: middle;
    font-size: 23px;
}

#omintro-tekst {
    border-bottom: 10px;
    border-bottom-color: #9bd5c4;
    border-bottom-style: dotted;
    padding-bottom: 20px;
    padding-top: 20px;
    /*border-top: 10px;
    border-top-color: #9bd5c4;
    border-top-style: dotted;
    padding-top: 20px;*/
}

#omfood8-tekst {
    border-bottom: 10px;
    border-bottom-color: #9bd5c4;
    border-bottom-style: dotted;
    padding-bottom: 20px;
    padding-top: 40px;
}

#omkontakt-tekst {
    border-bottom: 10px;
    border-bottom-color: #9bd5c4;
    border-bottom-style: dotted;
    padding-bottom: 20px;
    padding-top: 20px;
}


/* OM SLUT */

#food8billeder {
    vertical-align: middle;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0px 0px 10px;
    cursor: default;
}


/*
#food8billeder img:hover {
    filter: grayscale(80%);
}
*/

#food8billeder img {
    height: auto;
    max-width: 99%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    transition: .5s ease;
    backface-visibility:
}

#food8billeder p {
    vertical-align: middle;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #f4ebe3;
    margin: 2.67px;
    font-size: 16px;
    color: #3d3d3d;
    margin-top: 10px;
}

#food8billeder h1 {
    text-align: center;
}

.billede5 {
    margin-top: -29px;
}

.billede6 {
    margin-top: -3px;
    margin-bottom: 10px;
}

.billede4 {
    margin-top: -2px;
}

.billede3 {
    margin-top: -15px;
}

.img01 {
    z-index: 200;
}

.text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: Montserrat;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


/*
#food8billeder img:hover {
    background-color: black;
}
*/


/*
.billede2:hover .middle {
    opacity: 1;
}
*/


/*

.img01 {
    background: black;
    float: left;
    height: 176px;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
    width: 338px;
}

.fade span {
    color: white;
    left: 0;
    font-family: 'Josefin Sans';
    font-size: 21px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 75px;
    width: 100%;
}

a {
    text-decoration: underline;
    color: #135644;
}
*/


/*==========FORSIDE CONTENT SLUT==========*/


/*==========GEOLOCATION START==========*/


/***********OM FOOD8 STARTR**************/

#omfood8tekst {
    background-color: seashell;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
}

#map {
    height: 400px;
    width: 100%;
    filter: grayscale(80%);
    margin-top: 10px;
}


/*==========GEOLOCATION SLUT==========*/


/*==========FOOTER START==========*/

#footergrid {
    margin-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

#footercontent {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    z-index: 80;
    text-align: center;
    position: relative;
}

#so_mefooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#so_mefooter img {
    height: auto;
    width: 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 10px;
    border-radius: 1%;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 4px 40px rgba(0, 0, 0, .2);
    margin-bottom: 15px;
}

#kontaktoplysninger p {
    text-decoration-color: #3d3d3d;
    letter-spacing: 1.5px
}

#footergrid p {
    font-family: Cormorant;
    font-size: 17px;
    text-align: left
}

#strom img {
    height: auto;
    width: 90%;
    cursor: pointer;
}

#kontaktoplysninger p {
    letter-spacing: 1.5px;
    color: #3d3d3d;
}


/*==========FOOTER SLUT==========*/


/*==========SÆRARRANGEMENTER START==========*/

#saerarrangementindhold {
    background-color: seashell;
    margin-left: 10%;
    margin-right: 10%;
}

#saerarrangementtekst {
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    border-bottom: 10px;
    border-bottom-color: #9bd5c4;
    border-bottom-style: dotted;
    padding-bottom: 20px;
}

#saerarrangementnyheder {}

#saerarrangementbillede {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-bottom: 10px;
    border-bottom-color: #9bd5c4;
    border-bottom-style: dotted;
    padding-bottom: 20px;
}

#saerrangementnyhedstekst {
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
    padding-bottom: 4%;
}

.omfood8tekst {
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 4%;
    background-color: aqua;
}


/*==========SÆRARRANGEMENTER SLUT==========*/


/*==========SØGEFUNKTION START==========*/


/*
.search {
    margin-left: 280px
}

input[type=text] {
    margin-left:
}

button[type=submit] {
    margin-left: 10px;
    margin-top:
}
*/


/*==========SØGEFUNKTION SLUT==========*/


/*==========STEDER - RESTAURANTER START==========*/

.link-more {
    display: none;
}

#info {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 50px;
}

#info p {
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    text-decoration: none;
}

#h2link {
    text-decoration: none;
}

#info img {
    height: auto;
    max-width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-bottom: 10px;
    border-bottom-color: #9bd5c4;
    border-bottom-style: dotted;
    padding-bottom: 20px;
    justify-content: center;
}

a {
    text-decoration: underline;
    color: #000;
    /* or whatever colour your text is */
}


/*==========STEDER - RESTAURANTER SLUT==========*/


/*==========BOOKING SYSTEM START==========*/

.bookBord {
    position: fixed;
    transform: rotate(90deg);
    right: -42px;
    top: 260px;
    background-color: #9bd5c4;
    border: none;
    color: white;
    padding: 16px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    z-index: 90;
    font-family: Montserrat;
    font-size: 14px;
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 4px 40px rgba(0, 0, 0, .2);
}

.modalBook {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    z-index: 999999;
}


/* Modal Content */

.modal-contentBook {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
    margin-top: -80px;
}


/* The Close Button */

.closeBook {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBook:hover,
.closeBook:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.bookingsystem {
    margin-left: -20px;
    margin-top: -15px;
}


/*==========BOOKING SYSTEM SLUT==========*/


/*==========SINGLE START==========*/

#singleinfo {
    max-width: 100%;
}

#tekstdata {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    background-color: seashell;
    margin-top: 20px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

#billedegrid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    text-align: center;
    position: relative;
    max-width: 100%;
    cursor: pointer;
}

#billedegrid img {
    max-width: 100%;
}

#billedelogo img {
    max-width: 100%;
    z-index: 100;
}

#footer1 {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    z-index: 80;
    text-align: center;
    position: relative;
    max-width: 100%;
}

#footer2 {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    z-index: 80;
    text-align: center;
    position: relative;
    max-width: 100%;
}

.menukort {
    z-index: 20;
    width: 50%;
    height: 500px;
}

object {
    height: 100vh;
    z-index: 20;
}

.modal {
    z-index: 20000;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    /* Sit on top */
    padding-top: 50px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    z-index: 20;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    z-index: 20;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*==========SINGLE SLUT==========*/
